@model EmployeesContext.Employee
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>Добавление</title>
</head>
<body class="card-body">
    <h4>Добавление пользователя</h4>
    <div class="row">
        <div class="col-md-3">
            <form asp-controller="Table" asp-action="Add" method="post">
                <div class="form-group">
                    <label>ФИО</label>
                    <br />
                    <input asp-for="Name" data-val="true"  data-val-required="Формат ФИО: Васильев Василий Васильевич"/>
                    <br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Должность</label>
                    <br />
                    <select asp-for="Position" asp-items="@ViewBag.SelectItems"></select>
                    <br />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>День рождения</label>
                    <br />
                    <input asp-for="HB" type="date" min="1955-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" data-val="true"  data-val-required="Некорректная дата" />
                    <br />
                    <span asp-validation-for="HB" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Стаж работы</label>
                    <br />
                    <input asp-for="Seniority" min="0" max="50"  data-val="true" data-val-required="Некорректный стаж" />
                    <br />
                    <span asp-validation-for="Seniority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Декрет</label>
                    <br />
                    <input asp-for="MaternityLeave" />
                    <br />
                    <span asp-validation-for="MaternityLeave" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"> </script>