
<div class="blockquote text-center">
    <h4 lass="mb-0">
        Тестовое задание выполнено с применением Bootstrap и JQuery для валидации на стороне клиента,
        так же валидация имеется и на стороне сервера.
    </h4>
</div>