@model IEnumerable<EmployeesContext.Employee>
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>Сотрудники</title>
</head>
<body>
    <div>
        <table class="table table-striped">
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Дата рождения</th>
                <th>Стаж</th>
                <th>Декрет</th>
            </tr>
            @foreach (EmployeesContext.Employee employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Position</td>
                    <td>@employee.HB.ToShortDateString()</td>
                    <td>@employee.Seniority</td>
                    @{if (employee.MaternityLeave)
                        {
                            <td>Да</td>
                        }
                        else
                        {
                            <td>Нет</td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
</body>
</html>

